<template lang="pug">
	q-page.flex.flex-center.column
	h3.text-center.q-mb-0 Quasar High on Netlify
	h3
		i.fas.fa-sun.fa-5x
</template>

<style>
</style>

<script>
export default {
	name: 'PageHome'
}
</script>
